@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Passero+One&display=swap&#39;);

*{
margin: 0;
padding: 0;
}

:root {
--deep-twilight: #03045eff;
--bright-teal-blue: #0077b6ff;
--turquoise-surf: #00b4d8ff;
--frosted-blue: #90e0efff;
--titulo: "Open Sans", sans-serif;
--texto: "Passero One", sans-serif;
}
body{
background: var(--frosted-blue);
font-family: var(--titulo);
}
header{
background-color: var(--deep-twilight);
display: flex;
justify-content: space-around;
color: var(--turquoise-surf);
padding: 15px;
}
.logo{
width: 10%;
border-radius: 100%;
}
.menu{
display: flex;
list-style: none;
gap: 20px;
margin: 10px;
color: var(--bright-teal-blue);
text-transform: uppercase;
font-size: 14px;
}
.menu a{
text-decoration: none;
color: var(--frosted-blue);
font-weight: bold;
}
.menu a:hover{
color: var(--turquoise-surf);
transition: 1s;
}
.img-jpeg{
width: 100%;
height: 10%;
}
.conteudo{
margin: 30px;
border: 2px solid var(--deep-twilight);
padding: center;
background-color: aliceblue;
text-align: center;
}
.conteudo-titulo{
font-family: var(--bright-teal-blue);
font-size: 24px;
padding-bottom: 20px;
color: var(--bright-teal-blue);
}
.conteudo-apresentação{
font-family: var(--frosted-blue);
font-size: 14px;
}
footer{
background-color: aliceblue;
color: var(--deep-twilight);
font-family: var(--titulo);
font-size: 15px;
text-align: center;
}